@media screen and (max-width: 375px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid rgb(255, 2, 2);
    height: 9vh;
  }
  .logo-1 > img {
    width: 110px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
  .btn-1 {
    padding: 6px 6px;
    background-color: rgb(255, 2, 2);
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: 900;
    text-transform: lowercase;
  }
  ul li {
    display: none;
  }

  .hero-child {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .food-img > img {
    width: 22rem;
    height: 50vh;
  }

  .text-1 > h1 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 40px;
  
  }
  
  .text-1 > p {
    font-size: 1rem;
    line-height: 25px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.59);
  }
  .first-text {
    display: flex;
    /* align-items: center;
    justify-content: start; */
    flex-direction: column;
    gap: 55px;
  }
  .two {
    font-size: 0.8rem;
    width:310px;
    padding: 20px 5px;
    font-size: 1.2rem;
    text-transform: lowercase;
  }

  .hide {
    display: block;
    padding: 15px 15px;
    background-color: white;
    width: 310px;
    /* border: none; */
    outline: none;
    border-color: rgb(255, 2, 2);
    outline-color: rgb(255, 2, 2);
    border-radius: 7px;
    color: rgb(255, 2, 2);
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: 200;
    padding-right: 10px;
  }
  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
  .cards-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .card-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.35);
    gap: 10px;
    width: 300px;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rebeccapurple; */
    /* transition: all 0.2s ease-in-out; */
    border-radius: 5px;
    
  }
  .hero-2 {
    margin-top: 90px;
  }
  .hero-child-2 {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    text-align: center;
    width: 200px;
  }
  .hero-child-2 > h1 {
    font-size: 2rem;
    font-weight: 900;
    width: 300px;
  }
  
  .hero-child-2 > h3 {
    font-size: 1.85rem;
    font-weight: 600;
    /* font-family: "Great Vibes", cursive; */
  }
  .hero-child-2 > p {
    font-size: 1.2rem;
    font-weight: 900;
    text-align:center;
    vertical-align: baseline;
    color: rgba(0, 0, 0, 0.69);
  }
  .menu_head h1{
    color: rgba(0, 0, 0, 0.9);
    font-size: 24px;
    padding-bottom: 10px;
  }
  .menu-child {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 90%;
    /* text-align: center; */
    height: 80vh;
  }
  .food-pos {
    position: absolute;
    right: 80px;
  bottom: 40px;
  }
  .food-img-div > img {
    width: 200px;
  }
  .menu_image h1{
    padding-top: 50px;
    padding-left: 20px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 900;
  } 
  
  .menu_image p{
    font-family: mv boli;
    font-weight: lighter;
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 20px;
  }
  .menu_head h3{
    font-size: 30px;
    font-weight: lighter;
    color: rgb(255, 61, 51);
    /* font-family:"Great Vibes", cursive; */
  }
  .menu_head p {
    font-size: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
  }
  .menu_image h3 span{
    font-weight: bolder;
    font-family: mv boli;
    font-size: 1.2rem;
  }
  .menu_image h3{
    font-size: 0.7rem;
    font-family: cursive;
    padding-top: 10px;
    padding-left: 20px;
  
  }
  .menu_btn {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu_image button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 20px;
    width: 50vw;
    height: 6vh;
    border-radius: 10px;
    background-color: rgb(231, 0, 0);
    color: white;
    border: 2px solid rgb(237, 77, 77);
    cursor: pointer;
    transition: all 0.5s ease-in;
  }
  .food-section {
    display: none;
  }
  .full-btn {
    width: 50vw;
  height: 8vh;
  }
  .menu_image .menu_btn{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 40px; */
  }
  .menu_btn > span {
    margin-bottom: 90px;
  }
  .review-container {
    display: flex;
    flex-direction: column;
  }
  .comment-section {
    width: 400px;
  }
  .review-child {
    height: 390vh;
  }
  .textarea {
    text-align: center;
    width: 320px;
    height: 620px;
    margin-left: 35px;
    text-align: start;
  }
  .order {
    width: 90%;
    height: 50px;
    font-size: 1.5rem;
  }

  .location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 310vh;
  }
  .location-image {
    height: 712px;
    width: 300px;
  }
  .location-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 70%;
  }
  .location-txt-one {
    text-align: start;
    height: 650px;
    width: 350px;
  }
  .location-txt-two {
    display: flex;
    /* flex-direction: column; */
  align-items: center;
  justify-content: center;
    min-height: 850px;
    width: 350px;
  }
  .opening-hours {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* gap: 250px; */
  }
  footer { 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: white;
    background-color: rgb(25, 25, 25);
  }
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    /* gap: 20rem; */
    /* padding: 5rem 8rem; */
  }
  .footer1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .footer2 {
    text-align: center;
  }

  .review-child {
    height: 400vh;
  }
  

}